<div class="container">
  <h1>Stupid Coaching</h1>
  <p id='quest'><%= @question %> <em>-You</em></p>
  <p id='rep'><%= @reponse %> <em>-Your coach</em></p>
  <p id='new'><%= link_to "New question", 'ask' %></p>
</div>
